:root {
    --font-whatsapp: Helvetica, sans-serif;
    --wa-accent: #009688;
    --wa-neutral: #dadbd3;
    --wa-notification: #8edafc;
    --wa-canvas: #eaeaea;
    --wa-primary: #d5f9ba;
    --wa-bg-message: #f3eeea;
    --wa-icons: #b1b1b1;
    --wa-icons-dark: #6b7376;
    --wa-white: #ffffff;
    --wa-black: #1e1e1e;
    --wa-double-checked: #2d80c8;
}

body {
    height: 100vh;
    background: linear-gradient(180deg, var(--wa-accent) 0%, var(--wa-accent) 15%, var(--wa-neutral) 15%, var(--wa-neutral) 100%);
}

.icon_color{
    color: var(--wa-icons);
}

.icon_color_dark{
    color: var(--wa-icons-dark);
}

#app{
    position: relative;
    height: 100%;
}

.container{
    height: 94%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container_left{
    width: 30%;
    min-width: 200px;
    height: 100%;
    background-color: var(--wa-notification);
}

.container_right{
    width: 70%;
    border-left: 1px solid var(--wa-icons);
}

.app_top{
    height: 70px;
    background-color: var(--wa-canvas);
}

#app_main_chat{
    height: calc(100% - 140px);
    background-image: url(/assets/img/mine.jpg);
}

#app_main_chat .message{
    height: 65px;
}

.message_received, .message_sent{
    width: 45%;
    border-radius: 9px;
    padding-left: 1rem;
}

.message_received{
    background-color: var(--wa-white);
}

.message_sent{
    margin-left: auto;
    background-color: var(--wa-primary);
}

.text_option{
    align-self: flex-end;
    padding-right: 0.5rem;
    color: var(--wa-icons);
}

.text_hour{
    font-size: x-small;
    padding-right: 0.5rem;
    color: var(--wa-icons);
}

.text_hour span{
    padding-left: 0.4rem;
    color: var(--wa-double-checked);
}

#app_bottom_right{
    height: 70px;
    background-color: var(--wa-bg-message);
}

#app_bottom_right input{
    width: 80%;
}