:root {
    --font-whatsapp: Helvetica, sans-serif;
    --wa-accent: #009688;
    --wa-neutral: #dadbd3;
    --wa-notification: #8edafc;
    --wa-canvas: #eaeaea;
    --wa-primary: #d5f9ba;
    --wa-bg-message: #f3eeea;
    --wa-icons: #b1b1b1;
    --wa-white: #ffffff;
    --wa-black: #1e1e1e;
}

body {
    height: 100vh;
    background: linear-gradient(180deg, var(--wa-accent) 0%, var(--wa-accent) 15%, var(--wa-neutral) 15%, var(--wa-neutral) 100%);
}

#app{
    position: relative;
    height: 100%;
}

.container{
    height: 94%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container_left{
    width: 30%;
    min-width: 200px;
    height: 100%;
    background-color: var(--wa-notification);
}

.container_right{
    width: 70%;
    background-color: var(--wa-icons);
}

.app_top{
    height: 70px;
    background-color: var(--wa-canvas);
}

#app_header_right{
    border-left: 1px solid var(--wa-icons);
}

.icon_color{
    color: var(--wa-icons);
}