:root {
    --wa-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    --wa-font-secondary: 'Roboto', sans-serif;
    --wa-accent: #009688;
    --wa-neutral: #dadbd3;
    --wa-notification: #8edafc;
    --wa-canvas: #eaeaea;
    --wa-primary: #d5f9ba;
    --wa-bg-message: #f3eeea;
    --wa-icons: #b1b1b1;
    --wa-icons-dark: #6b7376;
    --wa-white: #ffffff;
    --wa-black: #1e1e1e;
    --wa--light-black: #3e3e3e;
    --wa-double-checked: #2d80c8;
}

body {
    height: 100vh;
    background: linear-gradient(180deg, var(--wa-accent) 0%, var(--wa-accent) 15%, var(--wa-neutral) 15%, var(--wa-neutral) 100%);
    font-family: var(--wa-font-secondary);
    -webkit-font-smoothing: antialiased;
}

.icon_color{
    color: var(--wa-icons);
}

.icon_color_dark{
    color: var(--wa-icons-dark);
}

#app{
    position: relative;
    height: 100%;
}

.container{
    height: 94%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container_left{
    width: 30%;
    min-width: 280px;
    height: 100%;
}

#app_header_left{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#push_notifier{
    background-color: var(--wa-notification);
    height: 85px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.box_push{
    aspect-ratio: 1/1;
    width: 50px;
    border-radius: 50px;
    background-color: var(--wa-white);
}

.fa-bell-slash{
    color: var(--wa-notification);
}

#search_box{
    height: 50px;
    background-color: var(--wa-bg-message);
}

#search_box > div > label {
    background-color: var(--wa-white);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border: 1px solid var(--wa-icons);
    border-right: 0;
}

#search_box > div > label > i, .link_push a{
    color: var(--wa-icons-dark);
}

#search_input{
    width: 100%;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 1px solid var(--wa-icons);
    border-left: 0;
    color: var(--wa-icons-dark);
}

#newMessage:focus-visible, #search_input:focus-visible{
    outline-width: 0;
}

#contact_list{
    overflow-y: auto;
    height: calc(100% - 205px);
    background-color: var(--wa-white);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.active{
    background-color: var(--wa-canvas);
}

.user_date span{
    font-size: 0.7rem;
}

#contact_list::-webkit-scrollbar {
    width: 10px;
}

#contact_list::-webkit-scrollbar-thumb {
    background-color: var(--wa-canvas);
    border-radius: 20px;
}

#contact_list::-webkit-scrollbar-thumb:hover {
    background-color: var(--wa-icons);
}

#contact_list::-webkit-scrollbar-track {
    background-color: var(--wa-white);
    border-radius: 10px;
}

.user_contact{
    cursor: pointer;
}

.user_info > div > span, .user_date > span{
    color: var(--wa-icons);
    font-size: 0.8rem;
}

.container_right{
    width: 70%;
    border-left: 1px solid var(--wa-icons);
    min-width: 480px;
}

#app_header_right{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.app_top{
    height: 70px;
    background-color: var(--wa-canvas);
}

.contact_data span{
    color: var(--wa-icons);
}

#app_main_chat{
    height: calc(100% - 140px);
    overflow-y: auto;
    background-image: url(../img/mine.jpg);
}

#app_main_chat::-webkit-scrollbar {
    width: 10px;
}

#app_main_chat::-webkit-scrollbar-thumb {
    background-color: var(--wa-canvas);
    border-radius: 20px;
}

#app_main_chat::-webkit-scrollbar-thumb:hover {
    background-color: var(--wa-icons);
}

#app_main_chat::-webkit-scrollbar-track {
    background-color: var(--wa-white);
    border-radius: 10px;
}

#app_main_chat .message{
    height: 65px;
}

.message_received, .message_sent{
    width: 45%;
    border-radius: 9px;
    padding-left: 1rem;
    min-height: 45px;
    color: var(--wa--light-black);
}

.message_received{
    background-color: var(--wa-white);
}

.message_sent{
    margin-left: auto;
    background-color: var(--wa-primary);
}

.text_info{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.text_option{
    align-self: flex-end;
    padding-right: 0.5rem;
    color: var(--wa-icons);
}

.text_hour{
    font-size: x-small;
    padding-right: 0.5rem;
    color: var(--wa-icons);
}

.text_hour span{
    padding-left: 0.4rem;
    color: var(--wa-double-checked);
}

.double_check{
    position: absolute;
    top: 15%;
    right: 10%;
}

#app_bottom_right{
    height: 70px;
    background-color: var(--wa-bg-message);
}

#app_bottom_right input{
    width: 80%;
}

#newMessage:focus{
    color: #212529;
    background-color: #fff;
    border-color: var(--wa-icons);
    outline: 0;
    box-shadow: 0 0 0 0;
}